body{
    margin: 0;
    padding: 0;
    background-color: white
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2) ;
    padding: 0px 5%;
}

nav ul{
    display: flex;
}

nav ul li a {
    margin: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #505050;
    font-size: 16px;
    font-weight: 650px;
}

nav ul li a:hover {
    background-color: gray;
    color: white;
    border-radius: 5px;
}

.Logo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 25px;
    font-weight: bold;
}

#Home{
    width: 100%;
    height: 95vh;
    position: relative;
}

.home p {
    line-height: 0px;
    margin: 55px 0px 25px;
}

.home p:nth-child(1) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #505050;
    font-size: 20px;
}
.home p:nth-child(2) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    letter-spacing: none;
    color: #2c2929;
    font-size: 30px;
}
.home p:nth-child(3) {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: #302323;
    font-size: 30px;
}
.home p:nth-child(4) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #505050;
    font-size: 20px;
    line-height: 30px;
}

.home{
    position: absolute;
    left: 10%;
    right: 10%;
    transform: translate(13%, 42%);
}

.picture{
    width: 400px;
    height: auto;
    position: absolute;
    left: 80%;
    top: 30%;
    transform: translate(-70%);
}

.about{
    height: 55vh;
    background-color: rgb(219, 219, 219);
    padding: 2% 10% 10%;
}

.about-desc{
    margin: 50px,50px;
}

.about-desc p:nth-child(1){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:black ;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    margin-bottom: 30px;
}

.about-desc p:nth-child(2){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(99, 93, 93) ;
    text-align: center;
}

.row{
    margin: 30px;
    padding: 20px;
    display: flex;
}

.row .column h2 {
    text-align: justify;
}

.column{
    flex: 50%;
    padding: 30px;
    height: 200px ;
}

/*Skill*/
.Skill{
    height: 65vh;
    background-color: fff;
    padding: 2% 10% 10%;
}

.Skill-Desc{
    margin: 50px 50px;
}

.Skill-Desc p:nth-child(1){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    margin-bottom: 35px;
}

.Skill-Desc p:nth-child(2){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#7e7e7e ;
    text-align: center;
}

.box-container{
    display: flex;
    text-align: justify;
    justify-content: space-around;
}

.box-1 , .box-2, .box-3 {
    width: 350px;
    height: 350px;
    box-shadow: 2px 12px 18px rgba(0, 0, 0, 0.2);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0px 5px;
}
.box-1 span , .box-2 span, .box-3 span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: gray;
    color: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}

.box-1 p:nth-child(3) , .box-2 p:nth-child(3), .box-3 p:nth-child(3) {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8f8f8f;
    width: 250px;
    margin: 0px 0px 50px 0px;
} 

/*Contact*/
.contact{
    height: 75vh;
    background-color: rgb(219, 219, 219);
    padding: 2% 10% 10%;
}

.contact-desc{
    margin: 50px 50px; 
}

.contact-desc p:nth-child(1){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color: #1d1d1d;
    font-size: 30px;
    line-height: 0px;
    text-align: center;
    margin-bottom: 35px;
}

.contact-desc p:nth-child(2){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#7e7e7e ;
    text-align: center;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc ;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 15px;
    resize: vertical;
}

input[type=submit]{
    background-color: #7e7e7e;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover{
    background-color:#252525 ;
}

input:active{
    transform: scale(1.1);
}

/*Footer*/
footer{
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: #635e5e ;
}

footer p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer p:nth-child(1){
    font-size: 30px;
    font-weight: bold;
    color: #2c2929;
    line-height: 20px;  
}
footer p:nth-child(2){
    font-size: 18px;
    font-weight: bold;
    color:#2c2929;
    line-height: 20px;
    margin-left: 50px;
    margin-right: 50px;  
}

.social-icons{
    margin: 30px 0px;
    display: flex;
    text-align: center;
    padding-bottom: 20px;
}

.social-icons a {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
    background-color: #cccccc;
    border-radius: 50%;
}

.social-icons i {
    font-size: 35px;
    color:#2c2929; 
}

.social-icons a:hover{
    background-color: orange;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
}